
@{
    ViewBag.Title = "Product";
}

    
    <html>
    <h2></h2>
    <body>
        @foreach (var item in Model)
        {
            <hr></hr>
            <p><b>Product ID: @item.ProductId</b></p>
            <p>Name: @item.Name</p>
            <p>Description: @item.Description</p>
            <p>Size: @item.Size</p>
            <p>Category: @item.Category</p>
            
        }

</body>
</html>
